@model BookingLine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookingLine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingLineId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingLineId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppliedDiscounts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppliedDiscounts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountedTotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiscountedTotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ongoing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ongoing)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="AddTime" asp-route-id="@Model.BookingLineId">
        <div class="form-group">
            <label class="control-label">Amount</label>
            <input name="amount" class="form-control" type="number"/>
        </div>
        <button type="submit" class="btn btn-primary">Add Time</button>
    </form>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
