@model IEnumerable<BookingLine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingLineId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountedTotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ongoing)
            </th>
            <th>
                Add Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingLineId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountedTotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ongoing)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookingLineId">Edit</a> |
                    <a asp-controller="BookingLine" asp-action="Details" asp-route-id="@item.BookingLineId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookingLineId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>