@model Booking;

@{
    ViewData["Title"] = "sPorts";
    var marinaSpotDict = (Dictionary<Marina, IEnumerable<BookingLine>>)ViewData["MarinaBLineDict"];
    var hasChanged = ViewData["BookingChange"];
}

@section Styles{
    <link rel="stylesheet" href="~/css/listview.css" />
}

<div class="row">
    <div class="col-8">
        <div class="card border-ligth shadow">
            <div class="card-header border-light bg-primary">
                <h4 class="card-text">Shopping Cart (@Model.BookingLines.Count)</h4>
            </div>
            <div class="card-body">
                <div id="Top">
                    <input type="checkbox" id="CheckBox" id="All">
                    <h5 class="card-title">Select All</h5>
                    <h6 class="card-text text-right text-secondary" style="flex-grow: 1;">BookingNo #@Model.BookingReferenceNo</h6>
                </div>
            </div>
        </div>
        @foreach (var pair in marinaSpotDict)
        {
            <div class="card border-light shadow">
                <div class="card-header border-light bg-primary">The title of a spot</div>
                <div class="card-body">
                    <div id="Top">
                        <input type="checkbox" id="CheckBox" id="MAll">
                        <h5>@pair.Key.Name</h5>
                        <div class="text-right text-secondary" style="flex-grow: 1;">
                            <a href="#" class="fas fa-trash"> Remove All</a>
                        </div>
                    </div>
                    @foreach (var bookingLine in pair.Value)
                    {
                        <hr>
                        <br>
                        <div class="row cartBookingLine">
                            <div class="col-min" style="padding-left: 1rem;">
                                <input type="checkbox">
                            </div>
                            <div class="col align-self-start">
                                <img class="card-img" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fweknowyourdreams.com%2Fimages%2Fboat%2Fboat-01.jpg&f=1&nofb=1" alt="A spot">
                            </div>
                            <div class="col">
                                <p>A description of the spot</p>
                                <div class="row">
                                    <div class="col">
                                        <h5>Price per Hour: </h5>
                                        <h5>Starting Date: </h5>
                                        <h5>Ending Date: </h5>
                                        <hr>
                                        <h5>Total: </h5>
                                    </div>
                                    <div class="col">
                                        <h5 class="text-right bg-light">DKK @bookingLine.OriginalTotalPrice</h5>
                                        <h5 class="text-right bg-light">@bookingLine.StartDate</h5>
                                        <h5 class="text-right bg-light">@bookingLine.EndDate</h5>
                                        <hr>
                                        <h5 class="text-right bg-light">@bookingLine.DiscountedTotalPrice</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 text-right text-secondary">
                                <h6 class="card-text" style="flex-grow: 1;">Spot No #@bookingLine.Spot.SpotNumber</h6>
                                @*<a asp-action="CartRemoveBookingLine" asp-route-id="@bookingLine.BookingLineId" class="fas fa-trash"></a>*@
                                <input class="btn btn-outline-success removeBtn" data-bookingline="@bookingLine" type="button" value="Remove" />
                            </div>
                            <div class="w-100"></div>
                            <div class="col align-self-end text-right">
                                <a href="#" class="btn btn-success">Details</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer bg-light border-white"></div>
            </div>
        }
    </div>
    <div class="col">
        <div class="card border-light shadow" id="Total">
            <div class="card-header border-light bg-primary text-center">Booking Summary</div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Subtotal</h5>
                        <h5 class="card-title">Discounts</h5>
                    </div>
                    <div class="col">
                        <h5 class="card-text col" id="Subtotal"></h5>
                        <h5 class="card-text col" id="Discounts"></h5>
                    </div>
                </div>
            </div>
            <div class="card-footer border-light bg-white">
                <div class="row">
                    <div class="col">
                        <h5 class="card-text font-weight-bold">Total</h5>
                    </div>
                    <div class="col text-right">
                        <h4 class="card-text font-weight-bold" id="Total">DKK @Model.TotalPrice</h4>
                    </div>
                </div>
                <br>
                <a href="#" class="btn btn-block btn-lg text-center btn-success">Checkout (@Model.BookingLines.Count)</a>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("input.removeBtn").click(function () {
            var bookingLine = $(this).attr("data-bookingLine")
            $.ajax({
                type: "POST",
                url: "/api/booking/" + bookingLine + "/removebookingline",
                data: { bookingLine: bookingLine },
                success: function (result) {
                    console.log(bookingLine);
                    console.log(result);
                    $(".cartBookingLine").on('click', '.removeBtn', function () {
                        $(this).closest('.cartBookingLine').fadeOut(1000);
                    });
                },
                error: function (req, status, error) {
                    alert("Something went wrong.")

                }
            });
        })
    })

</script>

@section Scripts{
}