@model IEnumerable<BookingLine>

@{
    ViewData["Title"] = "BookingsByMarinaOwner";
}

<h1>Bookings To Confirm / Cancel</h1>
<h2 style="display:none; color:red"></h2>

@if (!Model.Any())
{
    <h3 style="text-align:center">Nothing to confirm at the moment.</h3>
}
else
{
    <table class="table" id="marinaOwnerBookings">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Booking.BookingReferenceNo)
                </th>
                <th>
                    Boat Owner
                    @Html.DisplayNameFor(model => model.Booking.Boat.BoatOwner.Person.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Spot.Marina.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Spot.Marina.Address.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Spot)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Confirmed)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Booking.BookingReferenceNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Booking.Boat.BoatOwner.Person.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Spot.Marina.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Spot.Marina.Address.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Spot.SpotNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Confirmed)
                    </td>
                    <td>
                        @if (!item.Confirmed)
                        {
                            <button class="btn btn-outline-success confirmBtn" data-bookingline-id="@item.BookingLineId" type="button">
                                <span class=""></span>
                                Confirm
                            </button>
                        }
                    </td>
                    <td>
                        @if (item.Confirmed)
                        {
                            <button class="btn btn-outline-danger cancelBtn" data-bookingline-id="@item.BookingLineId" type="button">
                                <span class=""></span>
                                Cancel
                            </button>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

@section Scripts{
    <script src="~/js/booking/spot_manager.js"></script>
}
