@model IEnumerable<WebApplication.Models.MarinaOwner>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-action="BookingsByMarinaOwner" class="btn btn-outline-success text-center"> Manage Spots in Bookings</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MarinaOwnerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MarinaOwnerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MarinaOwnerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
