@model IEnumerable<WebApplication.Models.Marina>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@* Initialize map showing available and unavailable spots *@

<div id="mapid" style="height: 600px; width: 700px"></div>
<script src="~/js/leaflet_map.js"></script>
<script>mymap.setView([56.2639, 9.5018], 7)</script>

@* End of initialization *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facilities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarinaOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.XLatitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.YLongitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Circle marinaCircleDisplay;
            marinaCircleDisplay.c.x = 0;
            marinaCircleDisplay.c.y = 0;
            marinaCircleDisplay.r = 0;

            if (item.LocationId == null && item.Spots.Count > 0)
            {
                marinaCircleDisplay = WebApplication.BusinessLogic.MarinaService.CalculateMarinaLocation(item);
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Facilities)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarinaOwner.MarinaOwnerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.AddressId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.XLatitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.YLongitude)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MarinaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MarinaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MarinaId">Delete</a>

                    @if (item.Location != null)
                    {
                        if (item.LocationId != null)
                        {
                            <script>
                                L.circle([@item.Location.XLatitude, @item.Location.YLongitude], {
                                    color: 'pink',
                                    fillColor: '#f03',
                                    fillOpacity: 0.5,
                                    radius: 10000
                                }).addTo(mymap);
                            </script>
                        }
                        else
                        {
                            <script>
                                L.circle([@marinaCircleDisplay.c.x, @marinaCircleDisplay.c.y], {
                                    color: 'pink',
                                    fillColor: '#f03',
                                    fillOpacity: 0.5,
                                    radius: @(marinaCircleDisplay.r * 80000)
                                }).addTo(mymap);
                            </script>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
