@model IEnumerable<WebApplication.Models.Marina>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@* Initialize map showing available and unavailable spots *@

<partial name="MapDivPartial" />

@* End of initialization *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facilities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarinaOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.Radius)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            // If a Marina does not have a custom location, but it was populated with spots before,
            // it means that a preview location can be deducted based on its spots' locations
            // (Take note that a marina ONLY loaded spots that have a location)
            // (Check MarinaService GetAll method)
            if (item.LocationId == null && item.Spots.Count > 0)
            {
                WebApplication.BusinessLogic.MarinaService.CalculateMarinaLocation(item);
            }

            <tr id="marina">
                <td id="name" data-id="@item.MarinaId">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Facilities)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarinaOwner.MarinaOwnerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.AddressId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationId)
                </td>
                <td id="lat">
                    @Html.DisplayFor(modelItem => item.Location.Latitude)
                </td>
                <td id="long">
                    @Html.DisplayFor(modelItem => item.Location.Longitude)
                </td>
                <td id="radius">
                    @Html.DisplayFor(modelItem => item.Location.Radius)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MarinaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MarinaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MarinaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_LeafletScriptsPartial" />
    <script src="~/js/leaflet/map_marina.js"></script>
    <script>
        $("tr#marina").each(function () {
            var name = $(this).find("#name").text().trim();
            var id = $(this).find("#name").data("id");
            var lat = $(this).find("td#lat").text().trim();
            var long = $(this).find("td#long").text().trim();
            var radius = $(this).find("td#radius").text().trim();

            var marinaPopup = `\
                <div class="text-center" style="width: 100px">\
                    <p style="font-weight: bold">${name}</p>\
                    <a href="Marina/Details/${id}" class="btn btn-primary text-white">Details</a>\
                </div>\
                `;

            if (lat) {
                renderCircle(lat, long, radius, mymap).bindPopup(marinaPopup);
            }
        });
    </script>
}