@using WebApplication.Models
@model BookingLine
@{
    ViewBag.Title = "Chose dates";
}

<div class="container">
    <div class="row justify-content-md-center">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="row-cols-lg" style="width:20rem">
            <p>Selected boat: @Model.Booking.Boat.Name</p>
            <p>Select the dates for your stop</p>
            <form>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label">Start date</label>
                    <input asp-for="StartDate" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" min="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label">End date</label>
                    <input asp-for="EndDate" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" min="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Go to next step" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
