@model Booking
@{
    ViewBag.Title = "Book your trip";
}
<div class="row justify-content-md-center">
    <h1>@ViewBag.Title</h1>
</div>
<form asp-action="Index" id="booking">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="row-cols-lg" style="width:20rem">
                <div class="tab-content step" id="step1">
                    <div class="form-group">
                        <label asp-for="Boat.Name" class="control-label">Select your boat</label>
                        <select id="boat-name" asp-for="Boat.Name" class="form-control" asp-items="ViewBag.Boat"></select>
                        <span asp-validation-for="Boat" class="text-danger"></span>
                    </div>
                </div>
                <div class="tab-content step" id="step2">
                    <div class="form-group">
                        <label asp-for="BookingLines[0].StartDate" class="control-label">Select your boat</label>
                        <input id="start-date" asp-for="BookingLines[0].StartDate" type="date" class="form-control" asp-items="ViewBag.Boat" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="BookingLines[0].StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookingLines[0].EndDate" class="control-label">Select your boat</label>
                        <input id="end-date" asp-for="BookingLines[0].EndDate" type="date" class="form-control" asp-items="ViewBag.Boat" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="BookingLines[0].EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="tab-content step" id="step3">
                    <button type="button" id="checkMarinaMap">TEXT</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function() {

        $("#checkMarinaMap").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateMarinaMap", "BookingFlow")',
                data:{ boatName: $("#boat-name").val() , start: $("#start-date").val(), end: $("#end-date").val() },
                dataType: "json",
                success: function (response) { alert('Success'); $("#marinas").html(`<p>${response}</p>`); console.log(response)},
                error: function () {}
            });
        });
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
