@model Booking;

@{
    ViewData["Title"] = "sPorts";

    var marinaBLineDict = (Dictionary<Marina, IEnumerable<BookingLine>>)ViewData["MarinaBLineDict"];
    var appliedDiscounts = (double)ViewData["AppliedDiscounts"];
    var subtotal = Model.TotalPrice + appliedDiscounts;
    var nullOrEmpty = (Model is null || marinaBLineDict.Count < 1);
    var cartHasChanged = (byte)ViewData["CartHasChanged"];
}

@section Styles{
    <link rel="stylesheet" href="~/css/listview.css" />
}
<div class="row">
    <div class="col-8">
        @if (cartHasChanged == 1)
        {
            <div class="alert alert-warning alert-dismissible fade show cartAlert" role="alert">
                <h4 class="alert-heading">Cart changed!</h4>
                <strong>Cart has changed.</strong> Someone else has booked the spots you had in the cart.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
        }
        <div class="card border-ligth shadow">
            <div class="card-header border-light bg-primary">
                <h4 class="card-text">Shopping Cart (@Model.BookingLines.Count)</h4>
            </div>
            <div class="card-body">
                <div id="Top">
                    @*<input type="checkbox" id="CheckBox">*@
                    @*<h5 class="card-title">Select All </h5>*@
                    <a class="btn btn-outline-success clearCartBtn">Clear Cart</a>
                    <h6 class="card-text text-right text-secondary" style="flex-grow: 1;">BookingNo #@Model.BookingReferenceNo</h6>
                </div>
            </div>
        </div>
        @if (!nullOrEmpty)
        {
            @foreach (var marinaBLinePair in marinaBLineDict)
            {
                <div class="card border-light shadow">
                    <div class="card-header border-light bg-primary">The title of a spot</div>
                    <div class="card-body">
                        <div id="Top">
                            <input type="checkbox" id="CheckBox">
                            <h5>@marinaBLinePair.Key.Name</h5>
                            <div class="text-right text-secondary" style="flex-grow: 1;">
                                <a class="btn btn-outline-success removeAllBtn">Remove All</a>
                            </div>
                        </div>
                        @foreach (var bookingLine in marinaBLinePair.Value)
                        {
                            <hr>
                            <br>
                            <div class="row cartBookingLine">
                                <div class="col-min" style="padding-left: 1rem;">
                                    <input type="checkbox">
                                </div>
                                <div class="col align-self-start">
                                    <img class="card-img" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fweknowyourdreams.com%2Fimages%2Fboat%2Fboat-01.jpg&f=1&nofb=1" alt="A spot">
                                </div>
                                <div class="col-7">
                                    <p>A description of the spot</p>
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Price per Day: </h5>
                                            <h5>Discounts: </h5>
                                            <br>
                                            <h5>Starting Date: </h5>
                                            <h5>Ending Date: </h5>
                                            <br>
                                            <hr>
                                            <h5>Total: </h5>
                                        </div>
                                        <div class="col">
                                            <h5 class="text-right bg-light">DKK @bookingLine.Spot.Price</h5>
                                            <h5 class="text-right bg-light">DKK @bookingLine.AppliedDiscounts</h5>
                                            <br>
                                            <h5 class="text-center bg-light">@bookingLine.StartDate</h5>
                                            <h5 class="text-center bg-light">@bookingLine.EndDate</h5>
                                            <br>
                                            <hr>
                                            <h5 class="text-right bg-light">@bookingLine.DiscountedTotalPrice</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col text-right text-secondary">
                                    <h6 class="card-text" style="flex-grow: 1;">Spot No #@bookingLine.Spot.SpotNumber</h6>
                                    @*<a class="btn btn-outline-success removeBtn" name="@bookingLine.StartDate">Remove</a>*@
                                </div>
                                <div class="w-100"></div>
                                <div class="col align-self-end text-right">
                                    @*<a asp-controller="BookingLine" asp-action="Details" asp-route-id="@bookingLine.BookingLineId" class="btn btn-success">Details</a>*@
                                    <a class="btn btn-outline-success removeBtn" name="@bookingLine.StartDate">Remove</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="card-footer bg-light border-white"></div>
                </div>
            }
        }
        else
        {
            <br>
            <div class="text-center">
                <h4>The shopping cart is empty! Buy Something fast!</h4>
            </div>
        }
    </div>
    <div class="col">
        <div class="card border-light shadow" id="Total">
            <div class="card-header border-light bg-primary text-center">Booking Summary</div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Subtotal:</h5>
                        <h5 class="card-title">Discounts:</h5>
                    </div>
                    <div class="col text-right" style="padding-left: 6rem;">
                        <h5 class="card-text" id="Subtotal">DKK @subtotal</h5>
                        <h5 class="card-text" id="Discounts">DKK @appliedDiscounts</h5>
                    </div>
                </div>
            </div>
            <div class="card-footer border-light bg-white">
                <div class="row">
                    <div class="col">
                        <h5 class="card-text font-weight-bold">Total:</h5>
                    </div>
                    <div class="col text-right" style="padding-left: 4rem;">
                        <h4 class="card-text font-weight-bold" id="Total">DKK @Model.TotalPrice</h4>
                    </div>
                </div>
                <br>
                @if (!nullOrEmpty)
                {
                    <a id="checkout-button" class="btn btn-block btn-lg text-center btn-success">
                        <span class=""></span>
                        Checkout (@Model.BookingLines.Count)
                    </a>
                    @*<input type="button" class="btn btn-block btn-lg text-center btn-success simulateBtn" value="Simulate Concurrency" data-toggle="modal" data-target="#simulationModal" />*@
                }
                else
                {
                    <button class="btn btn-block btn-lg text-center btn-success" disabled="disabled">Checkout (0)</button>
                }
            </div>
        </div>
    </div>

    <!-- Simulate Concurrency Modal -->
    <div class="modal fade" id="simulationModal" tabindex="-1" role="dialog" aria-labelledby="simulationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Booking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Booking has been created.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/shoppingcart/remove.js"></script>
    <script src="~/js/shoppingcart/checkout.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
}